{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          { "type": "ci", "release": "minor" },
          { "type": "chore", "scope": "deps", "release": "patch" }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            { "type": "feat", "section": "Features" },
            { "type": "fix", "section": "Bug Fixes" },
            { "type": "perf", "section": "Performance Improvements" },
            { "type": "ci", "section": "CI", "hidden": false },
            { "type": "chore", "scope": "deps", "section": "Dependencies", "hidden": false }
          ]
        },
        "writerOpts": { "headerPartial": "" }
      }
    ],
    [
      "@semantic-release/github",
      {
        "failComment": false,
        "successComment": false,
        "releasedLabels": false
      }
    ]
  ]
}
