{
  "plugins": [
    "@semantic-release/commit-analyzer",
    ["@semantic-release/release-notes-generator", { "writerOpts": { "headerPartial": "" } }],
    ["@semantic-release/github", { "successComment": false, "releasedLabels": false }]
  ]
}
