{
  "plugins": [
    "@semantic-release/commit-analyzer",
    ["@semantic-release/release-notes-generator", { "writerOpts": { "headerPartial": "" } }],
    [
      "@semantic-release/github",
      {
        "failComment": false,
        "successComment": false,
        "releasedLabels": false
      }
    ]
  ]
}
